
<section class="minimumHeight orders light-section">
    <div class="container mx-auto pt-10 pb-12 light-section ">
        <h1 class="font-bold text-lg mb-4 light-section">All orders</h1>
        <table class="w-full table-auto bg-white light-section solidBorder">
            <thead>
                <tr>
                    <th  class="px-4 py-2 text-left light-section">Orders</th>
                    <th class="px-4 py-2 text-left light-section">Customer Name</th>
                    <th class="px-4 py-2 text-left light-section">Mobile Number</th>
                    <th class="px-4 py-2 text-left light-section">Address</th>
                    <th class="px-4 py-2 text-left light-section">Status</th>
                    <th class="px-4 py-2 text-left light-section">Placed at</th>
                    <th class="px-4 py-2 text-left light-section">Payment Status</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
            </tbody>
        </table>
    </div>
</section>